<div class="row text-center">
<h1> About Us </h1>
<p> We are an Entrepreneurial Club whose major focus is to maintain and foster innovation and entrepreneurship at University of Toronto </p>
<h2> Contact Information </h2>
<p> We can be contacted to the following phone numbers </p>

<%= link_to 'Home',root_path %>
</div>
