<div class="container">
	<footer class="footer">
		<small>
			Content Copyright &copy; <a href="udemy.com"> Complete Ruby On Rails Developer Course </a>
			by <a href="http://www.sebastianalvrado.com/">Sebastian Alvarado </a>
		</small> 
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>